body{
    color: #11c7e7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* 余白を消す */
    margin: 0;
}

header{
    background-color: #c2f01c;
    /* 余白を消す（margin > border > padding > 要素 の入れ子構造） */
    padding-top: 0%;
    padding-bottom: 0%;
}

/* クラス名での指定はドット.を先頭につける */
.info{
    margin-left: 32px;
}

/* クラス名の後ろにブランクを開けてタグ名を入れることで細かい設定が可能 */
.info h1{
    font-weight: normal;
    font-size: 24px;
    margin: 0%;
}

.info p{
    margin: 0%;
    margin-bottom: 16px;
}

.icon img{
    border-radius: 30%;
    border-color: white;
    border-style: solid;
    border-width: 4px;
    width: 480px;
    height: auto;
}


.intro {
    text-align: center;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.intro > section{
    margin-bottom: 60px;
}

.intro > h1{
    font-weight: normal;
    font-size: 24px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.intro > section > ul{
    /* 箇条書きリストのドットを消す */
    list-style: none;
    /* 縦並びを横並びへ */
    display: flex;
}

/* 見やすくするためにアイコン同士の間隔を取る */
.intro li{
    display: inline;
    margin-right: 8px;
}



.works{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.works > h1{
    font-weight: normal;
    font-size: 24px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.works > section{
    margin-bottom: 60px;
    text-align: center;
}

.works > section > h1{
    font-weight: normal;
}

.works p{
    line-height: 1.8;
}

footer p{
    text-align: center;
    font-size: 14;
    margin-bottom: 60px;
    color: #11c7e7;
}

.container{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}

